<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layoutAdmin}">

<body>
<section layout:fragment="content">
    <div>
        <table>
            <tr>
                <th th:text="'Id'"></th>
                <th th:text="'Title'"></th>
                <th th:text="'Summary'"></th>
                <th th:text="'Expiration Date'"></th>

            </tr>

            <tr th:each="notice: ${notices}">
                <td th:text="${notice.id}"></td>
                <td th:text="${notice.title}"></td>
                <td th:text="${notice.summary}"></td>
                <td th:text="${notice.expirationDate}"></td>

            </tr>
        </table>
    </div>
</section>
</body>
</html>