<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layoutAdmin}">
<body>
<section layout:fragment="content">

    <h1> hello Admin</h1>

    <div>
        <span> See all advertisements:</span>
        <a th:href="@{notice/showAll}"> See all ads </a> <br>
    </div>
    <div>
        <span> Manage category list</span>
        <a th:href="@{category/showCategories}"> Categories </a> <br>
    </div>
    <div>
        <span> See all users </span>
        <a th:href="@{user/showUsersList}"> See Users </a> <br>
    </div>

</section>
</body>
</html>