<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<section layout:fragment="content">
    <h1>Add an add: </h1>

    <form th:action="@{/notice/addNotice}" th:object="${notice}" method="post">
        <p><input type="hidden" th:value="*{id}"/></p>
        <p> Title: <input type="text" th:field="*{title}"/></p>
        <p> Summary: <input type="text" th:field="*{summary}"/></p>
        <p> Expiration Date: <input type="text" th:field="*{expirationDate}"/></p>
        <p><input type="hidden" th:field="*{categories}"/></p>

        <p><input type="submit" value="Submit"/></p>
    </form>
    <div>
        <span> Back o Main </span><a th:href="@{/welcome}"> Main </a>
    </div>
</section>
</body>
</html>