<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th th:text="'Title'"></th>
        <th th:text="'Summary'"></th>
        <th th:text="'Expiration date'"></th>
        <th th:text="'Category'"></th>
        <th th:text="''"></th>
        <th th:text="''"></th>
        <th th:text="''"></th>
        <th th:text="''"></th>

    </tr>

    <tr th:each="notice: ${notices}">
        <td th:text="${notice.title}"></td>
        <td th:text="${notice.summary}"></td>
        <td th:text="${notice.expirationDate}"></td>
        <td>
            <span th:each="category: ${notice.categories}">
                <b th:text="${category.name}"/>
            </span>
        </td>


        <td sec:authorize="hasRole('USER')"><a th:href="@{/notice/update/{id}/(id=${notice.id})}"> EDIT </a></td>
        <td sec:authorize="hasRole('USER')"><a th:href="@{/notice/delete/{id}/(id=${notice.id})}"> DELETE </a></td>
        <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/notice/addCategoryToNotice/{id}/(id=${notice.id})}"> ADD
            CATEGORY </a></td>
        <td><a th:href="@{/comment/add/{id}/(id=${notice.id})}"> ADD A COMMENT </a></td>


    </tr>

</table>
<table>
<tr th:each="notice: ${notices}">>
    <p><a th:href="@{/comment/viewComments/{id}/(id=${notice.id})}"> View comments.... </a>
    </p>
</tr>
</table>


<div sec:authorize="hasAuthority('ADMIN')">
    <p> Back o Main<a th:href="@{/welcomeAd}"> Main </a>
    </p>
</div>
<div sec:authorize="hasAuthority('USER')">
    <p> Back o Main<a th:href="@{/welcome}"> Main </a>
    </p>
</div>
</body>
</html>