<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Update notice: </h1>

<form th:action="@{/notice/update}" th:object="${notice}" method="post">
    <p><input type="hidden" th:value="*{id}"/></p>
    <p> Title: <input type="text" th:field="*{title}"/></p>
    <p> Summary: <input type="text" th:field="*{summary}"/></p>
    <p> Expiration Date: <input type="text" th:field="*{expirationDate}"/></p>

    <p><input type="submit" value="Submit"/></p>
</form>
<a th:href="@{/welcome}"> Back to Main Page </a>
</body>
</html>