<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="card-body">
        <form th:action="@{/notice/update}" method="post" th:object="${notice}">
            <div>
                <label th:for="title"> Title</label>
                <p th:input type="text" placeholder=" Title">
                    <input th:field="*{title}"/>
                <p th:errors="*{title}"></p>
            </div>
            <div>
                <label th:for="summary">summary</label>
                <p th:input type="text" placeholder="summary">
                    <input th:field="*{summary}"/>
                <p th:errors="*{summary}"></p>
            </div>
            <div>
                <label th:for="expirationDate">expirationDate</label>
                <p th:input type="text" placeholder="expirationDate">
                    <input th:field="*{expirationDate}"/>
                <p th:errors="*{expirationDate}"></p>
            </div>
            <input type="hidden" th:field="*{id}"/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</form>
</body>
</html>