<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layoutAll}">
<body>
<section layout:fragment="content">
    <div>
        <h3> Your notices</h3>
        <table>
            <tr>
                <th th:text="'Id'"> </th>
                <th th:text="'Title'"> </th>
                <th th:text="'Category'"> </th>
                <th th:text="'EDIT'"> </th>
                <th th:text="'DELETE'"> </th>

            </tr>

            <tr th:each="notice: ${notices}">
                <td th:text="${notice.id}"></td>
                <td th:text="${notice.title}"></td>
                <td></td>
                <!--<td th:text="${notice.category.name}"></td>-->
                <td sec:authorize="hasRole('USER')"><a th:href="@{/notice/update/{id}/(id=${notice.id})}"> EDIT </a></td>
                <td sec:authorize="hasRole('USER')"><a th:href="@{/notice/delete/{id}/(id=${notice.id})}"> DELETE </a></td>
            </tr>
        </table>
        <div>
            <a th:href="@{/welcome}">Back</a>
        </div>

    </div>
</section>
</body>
</html>