
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">

<body>
<section layout:fragment="content">


    <h3> Your details </h3>
    <div>
    <table>
        <td>
            <th th:text="'Username'"></th>
            <th th:text="'Password'"></th>
            <th th:text="'First name'"></th>
            <th th:text="'Last name'"></th>
            <th th:text="'Email'"></th>
            <th th:text="'Phone number'"></th>
            <th th:text="'Date of birth'"></th>
            <th th:text="''"></th>
            <th th:text="''"></th>

        </td>

        <tr th:each="user1: ${user}">
            <td th:text="${user1.username}"></td>
            <td th:text="${user1.password}"></td>
            <td th:text="${user1.firstName}"></td>
            <td th:text="${user1.lastName}"></td>
            <td th:text="${user1.email}"></td>
            <td th:text="${user1.phoneNumber}"></td>
            <td th:text="${user1.dateOfBirth}"></td>

        </tr>
    </table>
    </div>
</section>
</body>
</html>