<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>
<section layout:fragment="content">
    <h3>Hello what do you want to do : </h3>
    <div>
        <span>
            Add an ad:
            <a th:href="@{notice/addNotice}"> Add an ad </a> <br>
        </span>
    </div>
    <div>
        <span>
            See my ads:
            <a th:href="@{notice/showUserAds}"> See my adds </a> <br>
        </span>
    </div>
    <div>
        <span>See all ads: </span>
        <a th:href="@{notice/showAll}"> See all ads </a> <br>

    </div>
</section>
</body>
</html>