<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layoutAdmin}">

<body>
<section layout:fragment="content">
    <h1>Add a category: </h1>

    <form th:action="@{/category/addCategory}" th:object="${category}" method="post">
        <p><input type="hidden" th:value="*{id}"/></p>
        <p> Name: <input type="text" th:field="*{name}"/></p>
        <p><input type="submit" value="Submit"/></p>
    </form>
    <div>
        <a th:href="@{category/showCategories}">Back to Categories</a>
    </div>
</section>
</body>
</html>