<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add a category: </h1>

<form th:action="@{/category/addCategory}" th:object="${category}" method="post">
    <p><input type="hidden" th:value="*{id}"/></p>
    <p> Name: <input type="text" th:field="*{name}"/></p>
    <p><input type="submit" value="Submit"/></p>
</form>

<div>
    <p> Back o Main<a th:href="@{/welcomeAd}"> Main </a>
    </p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Wyloguj"/>
    </form>
</div>
</body>
</html>