<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:>
<html lang="pl-PL">
<head>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>My first layout</title>
        <link th:href="css/style.css" rel="stylesheet">

    </head>
<body>


<ul id="nav">
    <li>
        <form th:action="@{/welcomeAd}" method="post">
            <input type="submit" value="Main"/>
        </form>
    </li>

    <li>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Wyloguj"/>
        </form>
    </li>
</ul>
</body>

</html>
