<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layoutAll}">
<body>
<section layout:fragment="content">

<p> Sorry there are no comments yet </p>

<div>
    <span> See all notices:</span>
    <a th:href="@{/notice/showAll}"> See all ads </a> <br>
</div>
<div sec:authorize="hasRole('USER')">
    <p> Back o Main<a th:href="@{/welcome}"> Main </a>
    </p>
</div>
<div sec:authorize="hasRole('ADMIN')">
    <p> Back o Main<a th:href="@{/welcomeAd}"> Main </a>
    </p>
</div>
</section>
</body>
</html>